body{
  background-color:white;
  color: black;
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
}
:root{
  --text-color:#fff;
  --main-color:#59B2F4;
  --snd-bf-color:#262B40;
}
*{
  margin-top: 0;
}
.app{
  margin-left: 0;
  margin-right: 0;
  
}

